.container-loader{
  z-index: 20;
}
.wrapper-table{
  min-height: 600px;
  overflow: scroll;
  margin-bottom: 20px;
}

tbody{
  font-size: 13px;
}
thead{
  background-color:#eaeaea;
}
.table tbody tr {
  transition: all 0.25s ease-out;
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: #e1e1e1;
  transform: translate(5px, -5px);
  transition: all 0.25 ease;
}
.btn-primary:hover {
  color: #737277 !important;
}
