<section class="main-content">
  <div class="col-12">
    <div
      class="header-content d-flex
          justify-content-between 
      align-items-center"
    >
      <h5 class="pl-4">
        {{cliente}}
      </h5>
      <div class="d-flex justify-content-end wrapper-header">
        <div class="cont-actions">
          <button 
            class="
              btn btn-round btn-secondary 
              btn-just-icon mr-2
            "
            (click)="loadViewSendMail()"
            matTooltip="Reenviar  historial de facturas"
          >
            <i class="material-icons">
              forward_to_inbox
            </i> 
          </button>
        </div>
      </div>
    </div>

    <div class=" p-3 card">
      <div class="card-body">
      <app-filters-table
        (params_to_filter_emitter)="setParamToFilter($event)"
        (filter_emitter)="filter()"
        >
      </app-filters-table>
      <div class="wrapper-table">
        <table class="table ">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Factura</th>
              <th>Fecha</th>
              <th>OC</th>
              <th>Método Pago</th>
              <th>Destino</th>
              <th>Comentarios</th>
              <th>Piezas</th>
              <th>Monto</th>
            </tr>
          </thead>
          <tbody>
            <ng-container 
              *ngFor="let factura of all_facturas;
                let i = index; ">
              <tr >
                <th>{{ i +1 }}</th>
                <td>
                  {{ 
                    factura.U_SO1_01FOLIORETAIL1
                  }}
                </td>
                <td>
                  {{ 
                    readDate(
                      factura.DocDate
                    )
                  }}
                </td>
                <td>{{ factura.U_ORDENCOMPRA }}</td>
                <td>{{ factura.U_FORMAPAGO }}</td>
                <td>{{ factura.ShipToCode }}</td>
                <td>{{ getComentario(factura.Comments) }}</td>
                <td>{{ factura.TotalQuantity }}</td>
                <td>{{ factura.DocTotal |currency }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="d-flex align-items-center">
            <button
              #btn_prev
              (click)="handlePaginate(btn_prev)"
              data-target="prev"
              class="btn btn-sm btn-round"
              [disabled]="!prev_link"
              >
              Prev
            </button>
              <strong 
                style="font-size: 1.35rem;font-weight: 400"
                class="pl-3 pr-3"
                >
                {{ current_page + 1}}
              </strong>
            <button
              #btn_next
              (click)="handlePaginate(btn_next)"
              data-target="next"
              class="btn btn-sm btn-round "
              [disabled]="!next_link"
              >
              Next
            </button>
          </div>
        </div>

    </div>
  </div>
  <div
    *ngIf="is_loading"
    class="container-loader d-flex 
    justify-content-center align-items-center"
  >
    <app-loader [width]="'70'"></app-loader>
  </div>
</section>
