<section class="main-content">
    <div class="col-12">
      <div class="header-content">
        <h5 class="pl-4">
          {{ cliente }}
        </h5>
        <div class="d-flex justify-content-end wrapper-header">
          <div class="cont-actions">            
          </div>
        </div>
      </div>
  
      <div class=" p-3 card">
        <app-menu-views
          [option_active]="'list'"
          >
        </app-menu-views>

          <div class="col-md-12 table-cont tab-content">
            <div id="grid" data-toggle="tab"
                  class="  tab-pane"
            >

              <div class="col-pane-grid">
                <div class="wrapper-pane-grid">
                <ng-container *ngFor="let prod of 
                  all_by_style | keyvalue;  index as i">
                  <div class="m-1 p-1 row-table-cont">
                  <div class="pl-1 pr-1 d-flex ">
                    <h5 
                      class="col-2 m-0 mb-1 title-style">
                      <strong>{{prod.key}} </strong>
                    </h5>
                    <div  class=" col-10 text-center tallas">
                      <ng-container 
                        *ngFor="let talla of 
                          getTallas(prod.value[0].Tallas)">
                        <h5 class="p-0 m-0">
                          <strong>{{talla}}</strong>
                        </h5>
                      </ng-container>
                    </div>
                  </div>
                  <div class=" ">
                    <ng-container *ngFor="
                      let item of orderByKey(
                        prod.value, 
                        'Color'
                        )  |
                        keyvalue
                      ">
                      <div class="col-12 p-0 d-flex row-ped">
                        <div class="col-2  col-color">
                          <span>
                            {{item.key}}
                          </span>
                        </div>
                        <div class="col-10 text-center tallas">
                          <ng-container 
                            *ngFor="let talla of 
                            getTallas(prod.value[0].Tallas)">
                              <strong class="col-cant">
                                {{getQuantity(item.value,talla)}}
                              </strong>
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  </div>
                </ng-container>
                <!--<h5 
                  class="m-0 mb-1 col-12  title-style"
                >
                  <strong>Total Productos</strong>
                  <small class="pl-3">
                    {{getTotalProds()}}
                  </small>
                </h5>-->
                </div>
                </div>

            </div>

            <div id="list" 
                  class="active tab-pane"
            >
              <app-filters-table
                (params_to_filter_emitter)="
                setParamToFilter($event)
                "
                (filter_emitter)="filter()"
                [filters_config]="filters_config"
              >
              </app-filters-table> 
              <div class="wrapper-table">
                <table class="table">
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      <th>Folio</th>
                      <th>Pedido</th>
                      <th>OC</th>
                      <th>Fecha</th>
                      <th>SKU</th>
                      <!--<th>Línea</th>-->
                      <th>Color</th>
                      <th>Talla</th>
                      <th>Pendiente</th>
                      <th>Sucursal</th>
                  </tr>
                </thead>
                <tbody>
                <ng-container 
                  *ngFor="let doc of all_docs;
                    let i = index; ">
                    <tr >
                      <th>{{ i +1 }}</th>
                      <td>
                        {{ 
                          doc.DocNum
                        }}
                      </td>
                      <td>
                        {{ 
                          doc.U_SO1_01FOLIORETAIL1
                        }}
                      </td>
                      <td>{{ doc.U_ORDENCOMPRA }}</td>
                      <td>
                        {{ 
                          readDate(
                            doc.DocDate
                          )
                        }}
                      </td>
                      <td>{{ doc.ItemCode }}</td>
                      <!--<td>{{ doc.ItmsGrpNam }}</td>-->
                      <td>{{ doc.Color }}</td>
                      <td>{{ doc.Talla }}</td>
                      <td>{{ doc.Quantity }}</td>
                      <!--<td>{{ doc.CardCode }}</td>
                      <td>{{ doc.CardName }}</td>-->
                      <td>{{ doc.ShipToCode }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <!--<div class="d-flex justify-content-center">
              <div class="d-flex align-items-center">
                <button
                  #btn_prev
                  (click)="handlePaginate(btn_prev)"
                  data-target="prev"
                  class="btn btn-sm btn-round"
                  [disabled]="!prev_link"
                  >
                    Prev
                </button>
                <strong 
                  style="font-size: 1.35rem;font-weight: 400"
                  class="pl-3 pr-3"
                  >
                  {{ current_page + 1}}
                </strong>
                <button
                  #btn_next
                  (click)="handlePaginate(btn_next)"
                  data-target="next"
                  class="btn btn-sm btn-round "
                  [disabled]="!next_link"
                  >
                    Next
                </button>
              </div>
            </div>-->
            </div>
          </div> 
      </div>
    </div>
    <div
      *ngIf="is_loading"
      class="container-loader d-flex 
      justify-content-center align-items-center"
    >
      <app-loader [width]="'70'"></app-loader>
    </div>
  </section>
