
::ng-deep .mat-date-range-input-mirror{
  display: none!important;
}
.cont-searchs{
  padding-bottom: 5px;
  /*margin-bottom: 8px;*/
  border-bottom: solid 1px #eaeaea;
}
.cont-search-dates{
  border: solid 2px transparent;
}
 .icono-filter{
 font-size: 42px!important; 
}
.icono-delete-filter{
  background-color: white;
  border-radius: 100%;
  font-size: 18px;
  transform: translate(-15px,14px);
  position: absolute;
}
.cont-search-num-fac,
.cont-search-envio,
.cont-search-dates {
  position: relative;
  min-width: 159px;
  max-width: 280px;
}

.btn-clean-filters{
  position: relative;
  cursor: pointer;
  transition:all 1s ease-in;
  border-radius: 100%;
  width: 43px;
  height: 43px;
}
.btn-clean-filters i{
  font-size: 34px;
}
.btn-clean-filters:hover .icono-delete-filter{
  background-color: #efefef!important;
  color: #737277;
}
.cont-search-num-fac >i,
.cont-search-envio >i,
.cont-search-status >i,
.cont-search-dates >i {
  cursor: pointer;
  transition: all .4s ease-in;
  border-radius: 100%;
  position: relative;
  z-index: 3;
}
.cont-search-num-fac >i,
.cont-search-envio >i{
  padding: 2px;
}
.cont-search-dates >i {
  font-size: 18px;
  padding: 3px;
}
.cont-search-num-fac:hover >i,
.cont-search-envio:hover >i,
.cont-search-status:hover >i,
.cont-search-dates:hover >i {
  background-color: #737277;
  color:white;
  transition: all .4s ease-in;
}
.active-filter-status{
  transition: all .3s ease;
  box-shadow:0 14px 26px -12px rgba(153, 153, 153,.4), 
  0 4px 23px 0px rgba(0 ,0 ,0 ,0.1), 
  0 8px 10px -5px rgba(153, 153, 153,0.3 )!important;
}
.cont-search-num-fac:before ,
.cont-search-dates:before ,
.cont-search-envio:before {
  content: "";
  position: absolute;
  width: calc(100% + 2px * 2);
  height: calc(100% + 2px * 2);
  top: calc(2px / -1);
  left: calc(2px / -1);
  background: linear-gradient(to right, #737277 0%, #737277 100%),
    linear-gradient(to top, #737277 50%, transparent 50%),
    linear-gradient(to top, #737277 50%, transparent 50%),
    linear-gradient(to right, #737277 0%, #737277 101%),
    linear-gradient(to left, #737277 0%, #737277 100%);
  background-size: 100% 2px, 2px 200%, 2px 200%, 0% 2px, 0% 2px;
  background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
  background-repeat: no-repeat, no-repeat;
  transition: transform 0.3s ease-in-out, background-position 0.3s ease-in-out,
    background-size 0.3s ease-in-out;
  transform: scaleX(0) rotate(0);
  transition-delay: 0.6s, 0.3s, 0s;
}

.border-m:before {
  background-size: 200% 2px, 2px 400%, 2px 400%, 55% 2px, 55% 2px;
  background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
  transform: scaleX(1) rotate(0);
  transition-delay: 0s, 0.3s, 0.6s;
  z-index: 1;
}

.border-d{
  border: solid 2px #737277;
}
.cont-search-num-fac input,
.cont-search-envio input,
.cont-search-dates input {
  position: relative;
  z-index: 2;
  border: none;
}
