<div class="cont-searchs">
  <div
    class="wrapper-searchs d-flex 
    flex-wrap align-items-center 
    justify-content-end"
  >
    <div
      class="mr-1 btn-clean-filters"
      matTooltip="borrar filtros"
      (click)="clearFilters('all')"
    >
      <i class=" material-icons text-danger">
        close 
      </i>
    </div>

  <button class="mb-3 btn btn-md bg-primario1"
      (click)="handleFilter($event)" 
    >
      <i class="material-icons">filter_list</i>
      filtrar
    </button>

    <div
      *ngIf="filters_config.fecha_inicio ||
      filters_config.fecha_fin"
      #parent_dates
      class="d-flex align-items-center 
      p-1 ml-3 mr-3 cont-search-dates"
    >
      <mat-form-field appearance="fill">
          <mat-label>Ingresa fechas</mat-label>
         <mat-date-range-input [rangePicker]="picker"
           >
           <input #date_1 matStartDate
            (change)="handleParams()"
           placeholder="fecha inicio"
           (dateChange)="datesChange( date_1,date_2)"
           >
           <input 
            (change)="handleParams()"
           #date_2 matEndDate placeholder="fecha fin"
           (dateChange)="datesChange( date_1,
            date_2)"
           >
        </mat-date-range-input>
        <mat-hint>YYYY-MM-DD – YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div
      *ngIf="filters_config.folio"
      #parent_n_doc
      class="d-flex align-items-center 
      p-1 border-success cont-search-num-fac"
    >
      <mat-form-field appearance="fill">
        <mat-label>
          {{filters_config.folio.placeholder}} 
        </mat-label>
       <input matInput 
        #search_num_doc
        (change)="handleParams()"
        autocomplete="off"
        data-param_url="Folio"
        type="text"
       >
      </mat-form-field>
    </div>


    <div
      #parent_style
      *ngIf="filters_config.style"
      class="d-flex align-items-center
             mr-2 ml-2 p-1 border-success cont-search-envio"
      style="min-width: 100px"
    >
      <!--<input
        #search_style
        style="width: 90px"
        class="ml-1 mr-1"
        (focus)="focusInput(parent_style)"
        (blur)="blurInput(parent_style)"
        (keydown.enter)="handleFilter($event)"
        (change)="handleParams()"
        data-param_url="ShipToCode"
        type="text"
        placeholder="Estilo"
        />
      <i (click)="handleFilter($event)" 
      class="material-icons"> search </i>-->


      <mat-form-field appearance="fill">
        <mat-label>
          Estilo
        </mat-label>
        <input matInput 
          #search_style
          (change)="handleParams()"
          type="text"
        >
      </mat-form-field>
    </div>

    <div
      #parent_envio
      *ngIf="filters_config.lugar_envio"
      class="d-flex align-items-center
      mr-3 ml-1 p-1 border-success cont-search-envio"
    >
      <!--<input
        #search_lugar_envio
        style="width: 130px"
        class="ml-1 mr-1"
        (focus)="focusInput(parent_envio)"
        (blur)="blurInput(parent_envio)"
        (keydown.enter)="handleFilter($event)"
        (change)="handleParams()"
        data-param_url="ShipToCode"
        type="text"
        placeholder="Destino"
      />
      <i (click)="handleFilter($event)" 
      class="material-icons"> search </i>-->

      <mat-form-field appearance="fill">
        <mat-label>
          Sucursal 
        </mat-label>
        <input matInput 
          #search_lugar_envio
          (change)="handleParams()"
          data-param_url="ShipToCode"
          type="text"
        >
      </mat-form-field>
    </div>

    <div
      *ngIf="filters_config.status"
      class="d-flex align-items-center
      dropdown cont-search-status"
    >
      <button
        #btn_filter_status
        href="#"
        class=" mb-4 btn bg-light color-primario1
        dropdown-toggle"
        data-toggle="dropdown"
        aria-expanded="true"
      >
        {{ filterStatus == "" ? "Status..." : filterStatus }}
        <b class="caret"></b>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a (click)="setFilterStatus('', '', btn_filter_status)">
            ..... 
          </a>
        </li>
        <li>
          <a 
            (click)="
              setFilterStatus(
                'A', 
                'Abierto',
                btn_filter_status
              )"
          >
            Abierto
          </a>
        </li>
        <li>
          <a (click)="setFilterStatus(
            'EP',
            'En Proceso',
            btn_filter_status
            )"
          >
            En Proceso
          </a>
        </li>
        <!--<li>
          <a
            (click)="
              setFilterStatus(
              'FP',
              'Facturado Parcialmente',
              btn_filter_status
            )
            "
          >
            Factura Parcial
          </a>
        </li>-->
        <li>
          <a (click)="setFilterStatus(
            'F',
            'Facturado',
            btn_filter_status
            )"
          >
            Facturado
          </a>
        </li>
        <!--<li>
          <a (click)="setFilterStatus(
            'C',
            'Cancelado',
            btn_filter_status)"
          >
            Cancelado
          </a>
        </li>
        <li>
          <a (click)="setFilterStatus(
            'CE',
            'Cerrado',
            btn_filter_status
            )"
          >
            Cerrado
          </a>
        </li>-->
      </ul>
      <!--<i (click)="handleFilter()" 
        class="mr-1 material-icons"
      > 
        search
      </i>-->
    </div>

  </div>
</div>
