<style>
.cont-email:hover{
  white-space: inherit!important;
  overflow:visible!important;
  word-break: break-all!important;
}
</style>
<div class="logo d-flex align-items-center">
  <a class="simple-text logo-mini">
    <div class="logo-img">
      <img src="assets/img/logoPlayereteesNew.png" />
    </div>
  </a>
  <a  routerLink="home" class=" col-6 simple-text logo-normal">
    <img class="img-fluid" src="assets/img/logoPlayereteesNew.png" />
  </a>
</div>
            <div *ngIf="getVar('temp_min')"
              class="rounded p-1 m-1"
              style="background-color: rgba(0,0,0,.2);
                      color:black;"
              >
              <i 
                class="material-icons" 
                style="vertical-align: middle">
                device_thermostat
              </i>
              <span class="pr-1">
                {{getVar('temp_min')}}° min 
              </span>
              <span>{{getVar('temp_max')}}° max</span>
            </div>
<div class="sidebar-wrapper">

  <div class="user">
    <div class="photo">
      <img src="{{s_foto_avatar}}" />
    </div>
    <div class="user-info">
      <a data-toggle="collapse" href="#collapseExample" class="collapsed">
        <span>
          
          {{duser.username}}
          <b class="caret"></b>
        </span>
      </a>
      <div id='collapseExample' class="collapse  col-12 mt-3 p-0
        ">
        <div class="d-flex ml-auto mr-auto  pt-2 pb-2
             text-center flex-column col-10"
          style="background-color:rgba(255,255,255,.3)" >
          <strong class="m-0 " 
            style="line-height: 13px;padding:4px 0">
            {{duser.CardCode}}
          </strong>
          <small class="m-0 " 
            style="line-height: 13px;padding:4px 0">
            {{duser.CardName}}
          </small>
          <small class="m-0">
            RFC:
            <strong>
              {{duser.FederalTaxID}}
              </strong>
          </small>
        </div>
        <div class="col-10 p-0 pb-2 ml-auto mr-auto text-center
          d-flex justify-content-center
          align-items-center"
          style="background-color:rgba(255,255,255,.2);
          border-radius:0 0 5px 5px">
            <span class="d-flex justify-content-center
              align-items-center"
                  style="
                  border-top: solid 1px #398ab9;width: 95%;
                         "
              >
           <i
             style="font-size: 14px"
            class="material-icons">mail</i>
          <small
            style="white-space:nowrap;
            overflow:hidden;
            text-overflow: ellipsis;width: 100%"
            class="m-0 cont-email">
            {{duser.EmailAddress}}</small>
            </span>
        </div>
      </div> 
    </div>
  </div>
  <ul class="nav">
    <li  *ngFor="let item of All" class="nav-item">
      <a [attr.data-section_link]="item.url" routerLinkActive="active" 
        id="nav-section-{{item.id_seccion}}" 
        type="button" class="nav-section nav-link" 
        (click)="aberHijo(this.item.id_seccion,$event)">
        <i class="material-icons">{{ item.imagen }}</i>
        <p>{{ item.nombre_seccion }}</p>
      </a>

      <div id="men{{ item.id_seccion }}" class=""
        style="display:none">
        <ul class="nav">
          <li routerLinkActive="active" *ngFor="let mod of item.modules" class="nav-item">
            <a 
              routerLink="/admin/{{ duser.username | lowercase }}/{{ mod.s_url }}" class="nav-link">
              <span class="sidebar-mini"> <i class="material-icons">&nbsp;</i></span>
              <span class="sidebar-normal">{{ mod.s_modulo }}</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    
  </ul>
</div>
