h1{
  font-family: "Biko_regular",Helvetica, sans-serif!important;
  font-size: 5.2rem!important;
  font-weight: 700;

}
h1 strong{
  border-bottom: solid .76rem #999;
}
.cont-main{
  height: 60vh;
}

.cont-main div{
  width: 450px
}
