<section class="d-flex flex-column justify-content-center
         align-items-center cont-main">
  <h1>
    <strong class="mt-3  ">PO VISION</strong>
  </h1>
  
  <h3 class="mt-2">
    <strong class="mt-1">PURCHASE ORDER</strong>
  </h3>
  <h4 class="mt-4">¡GRACIAS POR SU VISITA!</h4>

</section>
