.container-loader{
  z-index: 20;
}
tbody{
  font-size: 13px;
}
thead{
  background-color: #eaeaea;
}
.wrapper-table{
  min-width: 420px;
  overflow: scroll;
}
.cont-search-dates{
  border: solid 2px transparent;
}
 .icono-filter{
 font-size: 42px!important; 
}
.icono-delete-filter{
  background-color: white;
  border-radius: 100%;
  font-size: 18px;
  transform: translate(-15px,14px);
  position: absolute;
}
.cont-search-num-ped,
.cont-search-envio,
.cont-search-dates {
  position: relative;
  min-width: 205px
}

.btn-clean-filters{
  position: relative;
  cursor: pointer;
  transition:all 1s ease-in;
  border-radius: 100%;
  width: 43px;
  height: 43px;
}
.btn-clean-filters:hover{
  color: #737277;
  transition: all .3s;
  background-color: #efefef;
}
.btn-clean-filters:hover .icono-delete-filter{
  background-color: #efefef!important;
  color: #737277;
}
.cont-search-num-ped i:first-child,
.cont-search-envio i:first-child,
.cont-search-status i:first-child,
.cont-search-dates i:first-child {
  cursor: pointer;
  transition: all .4s ease-in;
  border-radius: 100%;
  position: relative;
  z-index: 3;
}
.cont-search-num-ped i:first-child,
.cont-search-envio i:first-child{
  padding: 2px;
}
.cont-search-dates i:first-child {
  font-size: 18px;
  padding: 3px;
}
.cont-search-num-ped:hover i:first-child,
.cont-search-envio:hover i:first-child,
.cont-search-status:hover i:first-child,
.cont-search-dates:hover i:first-child {
  background-color: #737277;
  color:white;
  transition: all .4s ease-in;
}
.active-filter-status{
  transition: all .3s ease;
  box-shadow:0 14px 26px -12px rgba(153, 153, 153,.4), 
  0 4px 23px 0px rgba(0 ,0 ,0 ,0.1), 
  0 8px 10px -5px rgba(153, 153, 153,0.3 )!important;
}
.cont-search-num-ped:before ,
.cont-search-dates:before ,
.cont-search-envio:before {
  content: "";
  position: absolute;
  width: calc(100% + 2px * 2);
  height: calc(100% + 2px * 2);
  top: calc(2px / -1);
  left: calc(2px / -1);
  background: linear-gradient(to right, #737277 0%, #737277 100%),
    linear-gradient(to top, #737277 50%, transparent 50%),
    linear-gradient(to top, #737277 50%, transparent 50%),
    linear-gradient(to right, #737277 0%, #737277 101%),
    linear-gradient(to left, #737277 0%, #737277 100%);
  background-size: 100% 2px, 2px 200%, 2px 200%, 0% 2px, 0% 2px;
  background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
  background-repeat: no-repeat, no-repeat;
  transition: transform 0.3s ease-in-out, background-position 0.3s ease-in-out,
    background-size 0.3s ease-in-out;
  transform: scaleX(0) rotate(0);
  transition-delay: 0.6s, 0.3s, 0s;
}

.border-m:before {
  background-size: 200% 2px, 2px 400%, 2px 400%, 55% 2px, 55% 2px;
  background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
  transform: scaleX(1) rotate(0);
  transition-delay: 0s, 0.3s, 0.6s;
  z-index: 1;
}

.border-d{
  border: solid 2px #737277;
}


.table tbody tr {
  transition: all 0.25s ease-out;
}
.table tbody tr:hover {
  cursor: pointer;
  background-color: #e1e1e1;
  transform: translate(5px, -5px);
  transition: all 0.25 ease;
}
.btn-primary:hover {
  color: #737277 !important;
}
.cont-search-num-ped input,
.cont-search-envio input,
.cont-search-dates input {
  position: relative;
  z-index: 2;
  border: none;
}
