<section class="main-content">
  <div class="col-12">
    <div class="header-content">
      <div class="d-flex justify-content-end wrapper-header">
        <div class="cont-actions">
          <button 
            class="
              btn btn-round btn-secondary 
              btn-just-icon mr-2
            "
            (click)="loadViewSendMail()"
            matTooltip="Reenviar historial de pedidos"
          >
            <i class="material-icons">
              forward_to_inbox
            </i> 
          </button>
          <a 
            [routerLink]="'/admin/'+user.toLowerCase()+'/pedido'">
          <button class="btn btn-round btn-primary">
            <i class="material-icons">
              shopping_cart
            </i> 
            Nuevo Pedido
          </button>
          </a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <app-filters-table
          (params_to_filter_emitter)="
            setParamToFilter($event)
          "
          (filter_emitter)="filter()"
          [filters_config]="filters_config"
          >
        </app-filters-table>
        <div class="wrapper-table">
        <table class="table ">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Pedido</th>
              <th>OC</th>
              <th>Fecha</th>
              <th>Piezas</th>
              <th>Total</th>
              <th>Sucursal</th>
              <th>Comentarios</th>
              <th>Estatus</th>
            </tr>
          </thead>
          <tbody>
            <ng-container 
              *ngFor="let pedido of all_pedidos;
                let i = index; ">
              <tr (click)="show(pedido.DocEntry)">
                <th>{{ i +1 }}</th>
                <td>{{ pedido.DocNum }}</td>
                <td>{{ pedido.U_ORDENCOMPRA }}</td>
                <td>{{ readDate(
                          pedido.DocDate
                        )
                    }}
                </td>
                <td>{{ pedido.TotalQty }}</td>
                <td>{{ pedido.DocTotal | currency}}</td>
                <td>{{ pedido.ShipToCode }}</td>
                <td>{{ getComentario(pedido.Comments) }}</td>
                <td>{{ pedido.DocumentStatus }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        </div>
        <div class="d-flex justify-content-center">
          <div class="d-flex align-items-center">
            <button
              #btn_prev
              (click)="handlePaginate(btn_prev)"
              data-target="prev"
              class="btn btn-sm btn-round"
              [disabled]="!prev_link"
              >
              Prev
            </button>
              <strong 
                style="font-size: 1.35rem;font-weight: 400"
                class="pl-3 pr-3"
                >
                {{ current_page + 1}}
              </strong>
            <button
              #btn_next
              (click)="handlePaginate(btn_next)"
              data-target="next"
              class="btn btn-sm btn-round "
              [disabled]="!next_link"
              >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="is_loading"
    class="container-loader d-flex 
    justify-content-center align-items-center"
  >
    <app-loader [width]="'70'"></app-loader>
  </div>
</section>
