h4{
  font-weight: 400;
}
.label-row{
  width: 98px;
}
.text-ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card{
  margin-top: 5px;
  margin-bottom:5px;
}
.card-header{
  background-color: rgba(0,0,0,.05);
}

.card-header .material-icons{
  color: #7f8283;
}

.row-cliente-pedido .card{
  margin-bottom: 4px;
}
.row-direcciones .card-body{
  padding: 0!important;
}
.row-direcciones .card{
  margin-top: 2px;
}


.cont-entrega{
  flex-direction: row-reverse;
}
.col-color{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.tallas{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(79px,1fr));
}

#grid{
  background-color:#edeaea;
}
.table-cont .row-table-cont:nth-child(2n-1){
  background-color: #d8dbdf;
  color: black;
}
.title-style{
  width: 215px;
}
.title-style strong {
  font-weight: 700;
}
.row-ped{
  /*background-color: rgba(0,0,0,.03);*/
}
.col-cant{
  /*background-color: rgba(0,0,0,.04);
  display: inline-block;
  margin: 4px;*/
}
